<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描包,使SpringMVC认为包下用了@controller注解的类是控制器 -->
    <!-- 启用注解扫描，并定义组件查找规则 ，mvc层只负责扫描@Controller、@ControllerAdvice -->
    <!-- base-package 如果多个，用“,”分隔 -->
    <context:component-scan base-package="com.xiexing.controller"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!--拦截器配置-->
    <mvc:interceptors>
        <!-- 对所有请求都拦截，公共拦截器可以有多个 -->
        <bean name="TestInterceptor1" class="com.xiexing.interceptor.TestInterceptor1"/>
        <!--<bean name="TestInterceptor2" class="com.xiexing.interceptor.TestInterceptor2"/>-->

        <!--配置特定拦截器-->
        <mvc:interceptor>
            <!-- 对/test.html进行拦截 -->
            <mvc:mapping path="/test.html"/>
            <!-- 特定请求的拦截器只能有一个-->
            <bean class="com.xiexing.interceptor.TestInterceptor2"/>
        </mvc:interceptor>

    </mvc:interceptors>






    <!-- 配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置文件上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置文件上传大小上限，单位为字节(10M)-->
        <property name="maxUploadSize">
            <value>10485760</value>
        </property>
        <!--请求的编码格式-->
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>


    <!-- 配置使用json -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <!-- 配置使用json视图解析 -->
    <bean id="jsonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>


</beans>
